@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Marck+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-image: linear-gradient(to bottom, #FFF0F5, #FFE4E1);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h1, h2{
    text-align: right;
    background-image: linear-gradient(to right, #FFF0F5, #FFE4E1);
    padding: 10px;
    border-radius: 25px;

}

.comments h2, footer h2{
    background-image: linear-gradient(to right, #FFE4E1, #FFF0F5);
}

.in-fo img{
    height: 300px;
    border-radius: 25px;
    margin: 10px;
    
}

.in-fo{
    display: flex;
    justify-content:space-between;
    
}

.in-fo p{
    background-color: #FFE4E1;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 40px 100px white;
    
}

button{
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: #F0F8FF;
    font-size: 15px;
    width: auto;
    transition: 1s;

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
    
}

button:hover{
    background-color: #FFB6C1;
    scale: 1;
    transition: 1s;

}

input, textarea{
    border-radius: 5px;
    border: #F0F8FF;
    font-size: 18px;
    transition: 1s;
    margin: 5px;
    padding-right: 250px;

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;


}



input:focus, textarea:focus{
    background-color: #FFB6C1;
    border: #FFB6C1;
    transition: 1s;

}

.test{
    display: flex;
    flex-direction: row;
    
}
.commets-area{
    background-color: #FFB6C1;
    overflow: auto;
    height: 225px;
    border-radius: 25px;
}

.comment{
    padding: 1px 450px 1px 5px;
    background-color: #FFF0F5;
    border-radius: 25px;
    margin: 5px;
}

.links{
    background-color: #FFB6C1;
    padding: 5px;
    border-radius: 25px;
}
