@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Marck+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: linear-gradient(to bottom, #FFF0F5, #FFE4E1);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h1{
    text-align: right;
    background-image: linear-gradient(to right, #FFF0F5, #FFE4E1);
    padding: 10px;
    border-radius: 25px;

}

.double{
    display: flex;
    justify-content: space-around;
    background-color: #FFE4E1;
    padding: 10px;
    border-radius: 25px;
    min-width: 200px;
}

.double button{
    margin: 5px;
}

.double button:hover{
    background-color: #FFB6C1;
    width: 85px;
}

summary:first-child{
    text-decoration: underline;
}

input{
    border-radius: 5px;
    border: #F0F8FF;
    font-size: 18px;
    transition: 1s;

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;


}



input:focus{
    background-color: #FFB6C1;
    border: #FFB6C1;

}

.card{
    background-image: linear-gradient(to bottom, #ffe4e1, #FFB6C1);
    padding: 10px;
    border-radius: 25px;
    border: 5px solid white;
    text-align: center;
    align-items: center;
    height: 380px;
    width: 240px;
    margin: 10px;
    transition: 1s;
}

.card:hover{
    height: 400px;
    width: 260px;
}

button{
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: #F0F8FF;
    font-size: 15px;
    width: auto;
    transition: 1s;

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
    
}

.block button:hover{
    background-color: #ffe4e1;
    width: 85px;
    
}

.card button:hover{
    background-color: #FFE4E1;
    width: 85px;
}

.library{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}